{namespace ted3=DS\Ted3\ViewHelpers}
<ted3:element.content object="{data}" class="c-fadegallery c-element" name="TED³ Fadegallery" forceReload="1" >
      <ted3:settings.form>
        <ted3:settings.input type="text" label="Height"  name="height" size="4" default="20vw" />
    </ted3:settings.form>
    <div class="bx-slide">  
        <f:for each="{files}" as="file">
            <div class="c-fadegallery-image" style="background: url({ted3:imageuri(image:file)}) no-repeat center center; background-size: cover; height:{ted3settings.height};" >

            </div>
        </f:for>
    </div>

</ted3:element.content>
