{namespace ted3=DS\Ted3\ViewHelpers}
<ted3:element.content object="{data}" class="c-element c-image" name="TED³ Image"  >
    <ted3:settings.form>
        <ted3:settings.input type="checkbox" label="Link/Lightbox"  name="lightboxlink" value="1" />
        <ted3:settings.input type="checkbox" label="Center"  name="center" value="1" />
        <ted3:settings.input type="checkbox" label="Border"  name="border" value="1" />
    </ted3:settings.form>
    <div class="c-image-inner c-image-center-{ted3settings.center} c-image-border-{ted3settings.border}">
        <f:if condition="{ted3settings.lightboxlink}">
            <f:then>
                <f:for each="{files}" as="file">
                    <a href="{file.publicUrl}" target="lightbox" style="display:block;">
                        <f:media class="image-embed-item" file="{file}" alt="{file.alternative}" title="{file.title}"/>
                    </a>
                </f:for>
            </f:then>
            <f:else>
                <f:for each="{files}" as="file">
                    <f:media class="image-embed-item" file="{file}" alt="{file.alternative}" title="{file.title}"/>
                </f:for>
            </f:else>
        </f:if>
    </div>
</ted3:element.content>
