{namespace ted3=DS\Ted3\ViewHelpers}
<ted3:element.content object="{data}" settings="{edit:1,save:0}" class="c-element c-menu-sitemap" name="Sitemap" >
    <f:section name="Menu">
        <f:if condition="{menu}">
            <ul>
                <f:for each="{menu}" as="page">
                    <li>
                        <a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
                           <span>{page.title}</span>
                        </a>
                    <f:render section="Menu" arguments="{menu: page.children}" />
                    </li>
                </f:for>
            </ul>
        </f:if>
    </f:section>
    
    <f:render section="Menu" arguments="{menu: menu}" />
</ted3:element.content>