{namespace ted3=DS\Ted3\ViewHelpers}
<ted3:element.content object="{data}" class="c-element c-textmedia" name="TED³ Textmedia" >
     <f:if condition="{gallery.position.noWrap} != 1">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:if>
     <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
        <f:if condition="{gallery.position.vertical} != 'below'">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </f:if>

        <f:if condition="{data.bodytext}">
            <f:then>
                <div class="ce-bodytext">
                    <f:if condition="{gallery.position.noWrap}">
                        <f:render partial="Header/All" arguments="{_all}" />
                    </f:if>
                    <f:format.html>{data.bodytext}</f:format.html>
                </div>
            </f:then>
            <f:else>
                <f:if condition="{gallery.position.noWrap}">
                    <f:if condition="{data.header}">
                        <div class="ce-bodytext">
                            <f:render partial="Header/All" arguments="{_all}" />
                        </div>
                    </f:if>
                </f:if>
            </f:else>
        </f:if>

        <f:if condition="{gallery.position.vertical} == 'below'">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </f:if>
    </div>
</ted3:element.content>
