/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.01.2023, 13:32:13
    Author     : dominik
*/
/*svg.icon-color{
    width: 50px;
}
.tab-pane{
    &:after{
        content: '';
        clear: both;
    }
}
.col-md-6{
    width: 150px;
    float: left;
}*/
.nav-tabs {
  padding: 0px;
}
.nav-tabs li {
  display: inline-block;
}
.nav-tabs li a {
  display: block;
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
  padding: 0 30px;
  line-height: 30px;
}
.tab-content .tab-pane {
  display: none;
}
.t3js-filter-noresult {
  display: none;
}
.t3js-media-new-content-element-wizard {
  margin-bottom: 10px;
}
