<f:for each="{wizardsCleanArray}" key="groupname" as="group">
    <div>
        <h4>{groupname} </h4>
        <ul>
            <f:for each="{group.elements}"  key="elementname" as="element">
                <li onclick="goToalt_doc('{element.tt_content_defValues.CType}');">
                    <svg class="icon-color" role="img">
                    <use xlink:href="/typo3/sysext/core/Resources/Public/Icons/T3Icons/sprites/content.svg#{element.iconIdentifier}">
                    </use>
                    </svg>
                    {elementname} - {element.tt_content_defValues.CType}
                </li>
            </f:for>
        </ul>
    </div>
</f:for>
<div>
    <h4>Gridelements </h4>
    
    <ul>
            <f:for each="{gridLayouts}"  as="gridElement">
                <li onclick="goToalt_doc('grid-{gridElement.uid}');">
                    <img src="/typo3conf/ext/gridelements/Resources/Public/Icons/gridelements.svg" width="32" height="32" alt="">
                    {gridElement.title}
                </li>
            </f:for>
        </ul>
    
</div>

